# Toolchains and large SDK archives
sdk/toolchains/loongson-gnu-toolchain-8.3-x86_64-loongarch32r-linux-gnusf-v2.0/
sdk/toolchains/newlib/
sdk/toolchains/picolibc/
sdk/toolchains/*.tar.xz
sdk/toolchains/*.tar.gz

# SDK build outputs
sdk/**/*.bin
sdk/**/*.elf
sdk/**/*.s
sdk/**/obj/
sdk/axi_ram.mif

# Vivado generated project files
fpga/project/

# Common local clutter
*.log

# Local simulation / compile helper files
files.txt
files_iverilog.txt
build_check.out
sim_check.out
